html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main-logo {
  font-family: "Montez", cursive;
  color: blue;
  font-size: 35px;
  margin: 0px;
}

.subtitle {
  font-family: "Ubuntu Mono", monospace;
  font-size: 13px;
  font-weight: 600;
  margin: 0px;
}

.actions button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 15px;
}

.main-div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-div button {
  padding: 10px 20px;
  background-color: #cfb53b;
  color: black;
  font-size: 15px;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 5px 20px;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: grey;
  border-bottom: solid #e0e0e0;
}

.close:hover {
  cursor: pointer;
}

.modal-body {
  padding-bottom: 20px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}

.modal-body label {
  padding: 20px 0px 5px 0px;
  font-size: 15px;
}

.modal-body input {
  border: none;
  background-color: #eeeeee;
  color: black;
  padding: 10px;
  font-weight: 600;
}

.modal-body button {
  color: white;
  background-color: green;
  border: none;
  margin: 20px 0px 0px 0px;
  padding: 10px;
}


.modal-body span {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.modal-body span p {
  display: inline;
  color: blue;
}
