html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffeedd;
  font-size: 14px;
}

i {
  color: #848484;
}
i:hover {
  cursor: pointer;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main-logo {
  font-family: "Montez", cursive;
  color: blue;
  font-size: 35px;
  margin: 0px;
}

.subtitle {
  font-family: "Ubuntu Mono", monospace;
  font-size: 13px;
  font-weight: 600;
  margin: 0px;
}

.actions button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-self: center;
  margin: 20px;
}

.post-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 2px 5px 1px #0000005c;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  max-height: 180px;
}
.post-card:hover {
  box-shadow: 5px 8px 10px 0px #00000038;
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #e8e8e8;
  height: -webkit-fill-available;
  justify-content: center;
  font-size: 13px;
}
.post-creator {
  color: #656565;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-title p {
  font-weight: 600;
  color: #9e9e9e;
  padding: 0px;
  margin: 0px;
}

.more-options {
  text-align: end;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #888;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  color: white;
}

#yesBtn {
  background-color: green;
}

#noBtn{
  background-color: red;
}